* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: DialogInput;
    background-color: azure;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: dimgray;
    color: #fff;
}
.nav-links a {
    color: #fff;
}

/* name */
.name {
    font-size: 32px;
}
.contact_info {
    font-size: 15px;
}
/* nav menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
.contacts {
    text-align: center;
    padding: 20px;

}
/* Resume */
.frame {
    display: block;
    width: 100vw;
    height: 150vh;
    max-width: 50%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
    overflow: hidden;
}

.resume-container {
    position: relative;
    overflow: hidden;
}