* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    display: -webkit-flex;
    display: flex;
}
body {
    font-family: Calibri;
    background-color: darkgray;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* classes */

/* nav menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover a {
    color: black;
}
.menu li {
    padding: 5px 14px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: dimgray;
    color: #fff;
}
.nav-links a {
    color: #fff;
}
.contacts {
    text-align: center;
    padding: 20px;
}

/* main content */

.about-me {
    width: 500px;
    padding: 10px;
}
.about-me h1 {
    padding: 10px;
    text-align: center;
}
.about-me p {
    padding: 10px;
    background-color: lightgray;
}
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    box-sizing: content-box;
    padding: 10px;
}
.hl-title {
    padding: 7px;
}
.highlights {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: lightgray;
    padding: 20px;
    text-align: center;
    width: 25%;
    max-height: 100%;
    height: 90vh;
}
hr.hl-divider {
    border-top: 4px solid #4c9e9e;
}
.hl li {
    margin: 20px 0;
}
/* Resume */
.frame {
    display: block;
    width: 100vw;
    height: 133vh;
    max-width: 50%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
    overflow: hidden;
}
.resume-container {
    position: relative;
    overflow: hidden;
}
.photo {
    max-width: 70%;
    max-height: 100%;
    margin: auto;
    display: block;
    border-radius: 50%;
    padding: 20px;
}
.short-desc {
    padding: 10px;
}
.contact-at {
    position: absolute;
    left: 13%;
    bottom: 20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.about-para {
    line-height: 1.3em;
}