* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    display: -webkit-flex;
    display: flex;
}
body {
    font-family: Calibri;
    background-color: darkgray;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* classes */

/* nav menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover a {
    color: black;
}
.menu li {
    padding: 5px 14px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: dimgray;
    color: #fff;
}
.nav-links a {
    color: #fff;
}
.contacts {
    text-align: center;
    padding: 20px;
}

/* main content */
.main-info {
    padding: 20px;
}
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
}
.hl-title {
    padding-bottom: 20px;
}
.highlights {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: lightgray;
    padding: 20px;
    text-align: center;
}
hr.hl-divider {
    border-top: 4px solid #4c9e9e;
}
.hl li {
    margin: 20px 0;
}
/* Resume */
.frame {
    display: block;
    width: 100vw;
    height: 150vh;
    max-width: 50%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
    overflow: hidden;
}
.resume-container {
    position: relative;
    overflow: hidden;
}
.photo {
    padding: 20px;
}
.short-desc {
    padding: 10px;
}